table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top:35px;
  }
  
  th{
    background-color:rgb(199, 199, 199) ;
  }

  td, th {
    border: 2px solid #dddddd;
    text-align: centre;
    padding: 8px;
  }

  button{
    margin-left:5px;
    padding:3px;
    border-radius:3px;
    border: 1px solid black;
  }

  button:hover{
    box-shadow:5px 10px 8px #888888;
    cursor: pointer;
    background-color: rgb(191, 214, 126);
  }