<h1> Edit Blog</h1>

<div class="main">
    <form #localForm="ngForm">
    <div class="inside"> 
   
        <div class="content">
            <div class="title">Title*</div>
            <div>
                <input type="text"  required #name="ngModel"
                 class="input" placeholder="title" [(ngModel)]="userContent.userTitle" name="userTitle">
             <br> <span *ngIf="name.invalid && name.touched">Title Required</span>
            </div>
        </div>
<!-- //required #name="ngModel" -->
        <div class="content">
            <div class="title">Description*</div>
            <div><textarea type="text" class="des" rows="4" cols="50" required #description="ngModel"
                minlength="5"
                [(ngModel)]="userContent.userDescription" name="userDescription"></textarea>
                <br> <span *ngIf="description.invalid && description.touched">Minimum 150 Characters Required</span> </div> 
        </div>         
    </div>

      <div class="btn">
        <button type="button" (click)="cancel()" style="color:red;">Cancel</button>
        <button type="button" (click)="editBlog()" style="color:rgb(2, 73, 2);">Update</button>
    </div>
</form>
</div>
    



